<div class="iconbox-wrapper">
  <div class="row">
    <div class="col-md-4">
      <div class="iconbox-single">
        <div class="box-title">
          <div class="circle-icon" style="background: #3f51b5;">
            <md-icon>cached</md-icon>
          </div>
          <div>
            <h5>20</h5>
            <p>Hanging Transactions</p>
          </div>
        </div>
        <div class="chart">

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="iconbox-single">
        <div class="box-title">
          <div class="circle-icon" style="background: #40c741;">
            <md-icon>check_circle</md-icon>
          </div>
          <div>
            <h5>9930</h5>
            <p>Run Time Chart</p>
          </div>
        </div>
        <div class="chart">
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="iconbox-single">
        <div class="box-title">
          <div class="circle-icon" style="background: #fdba2c;">
            <md-icon>report_problem</md-icon>
          </div>
          <div>
            <h5>250</h5>
            <p>Failed Commits</p>
          </div>
        </div>
        <div class="chart">
        </div>
      </div>
    </div>
  </div>
</div>
