<div>
  <div class="re-page-banner" style="background: url('../../../../assets/img/banner.jpg') center center no-repeat; background-size: cover;">
    <div class="overlay"></div>
    <h1>Faq</h1>
  </div>
  <div class="row">
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">Why is the data not automatically renewing?</h4>
          <p>Usually a good thing to check is your internet connection when wondering why your data will not refresh.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">How can I download this data?</h4>
          <p>If your DBA gives you permission you will be able to download a CSV file at the bottom of the data table.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">Problem logging in.</h4>
          <p>I forgot my password! No need to worry you can reset your password by writing an email to your DBA. 
            And since a login was not "REQUIRED" for this project anyone can get on and look at this data! So dont worry about logging in</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">What language is this application written in?</h4>
          <p>This application has been written in AngularJS and is a comprehensive web application.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">Why is Angular so great?</h4>
          <p>Instead of having to write mobile applications for different Operating Systems, and for different PC's we can design device responsive interactive 
            applications that display in your browser.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">Where is the data located</h4>
          <p>As of now there is no database acctually connected to this application. Unfortunatley that is the next hurdle we will need to overcopme for this project.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">Problems with loading.</h4>
          <p>Our application is increadibly fast after visiting the first time because a large amount of the application is cached into your temporary internet storage.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">When will the project be complete?</h4>
          <p>This application should be completed sometime during the spring of 2019.</p>
        </div>
      </div>
    </div>
</div>
